* {
  box-sizing: border-box;
}

h1,
p,
a {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.container {
  margin: 0 auto;
  /* padding: 1em; */
  min-width: 375px;
  max-width: 767px;
  /* height: 2615px; */
}

.nav {
  width: 100%;
  margin-bottom: 38px;
}

.nav-container {
  width: 100%;
  height: 48px;
  padding: 1em 1em 0px 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 48px;
  background-color: #13183F;
  border-radius: 28px;


  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.header-btn:hover {
  background-color: #666CA3;
}

header {
  width: 100%;
  padding: 0 1em;
}

.header-intro {
  height: 285px;
}

.header-intro h1 {
  font-weight: 800;
  font-size: 40px;
  color: #13183F;
  margin-top: 0px;
  margin-bottom: 26px;
}

.header-intro p {
  font-weight: 500;
  font-size: 16px;
  color: #83869A;
  line-height: 26px;
  margin-top: 0px;
  margin-bottom: 24px;
}

.header-intro a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 167px;
  height: 56px;
  background: linear-gradient(to bottom, rgba(255, 111, 72, 1), rgba(240, 42, 166, 1));
  border-radius: 31.5px;


  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;

  margin-bottom: 46px;
}

.header-intro a:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 31.5px;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;
}

.header-intro a:hover::before {
  opacity: 1;
}

.header-img {
  width: 100%;
  margin-top: 55px;

}

.hero-img {
  width: 100%;
  height: auto;
  transform: scale(1.25);
}

.card-section-container {
  width: 100%;
  margin-top: 3em;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(240, 241, 255, 1));
}

.row {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  background: linear-gradient(to bottom, rgba(255, 111, 72, 1), rgba(240, 42, 166, 1));
  border-radius: 10px;

  padding: 0 2em;
  margin-bottom: 3em;
}

.banner span {
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.card-container {
  margin-bottom: 3em;
  width: 100%;
  height: 259px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442);
}

.course-inner-card {
  position: relative;
  margin: 2em;
}

.course-name {
  font-weight: 800;
  font-size: 20px;
  color: #13183F;
  margin-top: 3em;
  margin-bottom: 16px;
}

.course-intro {
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #83869A;
  margin-bottom: 24px;
}

.course-inner-card a {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #F74780;
}

.course-icon {
  position: absolute;
  top: -86px;
  width: 56px;
  height: 56px;
}

footer {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: #13183F;
  align-items: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 48px;
  margin: 0 auto;
  align-items: center;
}

.footer-container img {
  width: 89px;
  height: auto;
}

.footer-container a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 48px;
  background: linear-gradient(to bottom, rgba(72, 81, 255, 1), rgba(240, 42, 166, 1));
  border-radius: 28px;


  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer-container a:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 28px;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s;
}

.footer-container a:hover::before {
  opacity: 1;
}

@media screen and (min-width:760px) {
  .container {
    max-width: 1023px;
  }

  header {
    display: flex;
    padding: 0px 0px 0px 1em;
    height: 500px;
  }

  .header-img {
    position: relative;
    width: 90%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 0px;
  }

  .hero-img {
    position: absolute;
    top: -80px;
    right: -300px; 
    width: 656.52px;
    height: 500px;
    /* width: 100%;
    height: 100%; */
    object-fit: contain;
    transform: scale(1.2);
  }

  .header-intro {
    margin: 120px 20px 0px 15px;
  }

  .row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 3em;
  }

  .banner, .card-container {
    flex: 1 0 45%;
    margin: 30px 5px 30px 5px;
  }

  .banner {
    height: auto;
    padding: 2em;
    align-items: flex-start;
  }

  .banner span {
    margin-top: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    position: relative;
    max-width: none;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .nav-container, header, .row, .footer-container {
    width: 80%;
    max-width: 1110px;
    margin: 0 auto;
  }

  .nav-container {
    height: 85px;
    padding: 16px 0px;
  }

  .nav-container img, .footer-container img {
    width: 114px;
  }

  header {
    padding: 0px;
    height: 600px;
    justify-content: flex-start;
  }

  .header-intro {
    width: 45%;
    margin: 120px 20px 0px 0px;
    text-align: left;
  }

  .header-img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .hero-img {
    top: 50px;
    right: 20px;
    transform: scale(1.8);
  }

  .header-btn {
    width: 167px;
    height: 56px;
    font-size: 18px;
  }

  .header-intro h1 {
    font-size: 56px;
    margin-bottom: 29px;
  }

  .header-intro p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 40px;
  }

  .header-intro a {
    height: 63px;
    font-size: 18px;
    line-height: 28px;
  }

  .row {
    width: 80%;
    max-width: 1100px;
    justify-content: space-between;
    padding: 0px 0px 48px 0px;
  }

  .banner,
  .card-container {
    flex: 0 0 30%;
  }

  .banner span {
    font-size: 32px;
    line-height: 40px;
  }

  .card-container {
    width: 350px;
    min-height: 346px;
    height: auto;
  }

  .course-inner-card {
    height: fit-content;
  }

  .course-name {
    font-size: 24px;
  }

  .course-intro {
    font-size: 18px;
    line-height: 30px;
  }

  .footer-container a {
    width: 167px;
    height: 56px;
    font-size: 18px;
    line-height: 28px;
  }

  .footer-container a:before {
    width: 167px;
    height: 56px;
  }
}